h1 {
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  top: 30%;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-size: 4em;
}

input {
  color: black;
}

.menu {
  top: 300px;
}

.container-fluid {
  width: 100%;
  height: 700px;
  background-image: url(Pictures/backlit-creepy-dark-289367.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-size: 100%;
  font-family: Montserrat, "Hanalei Fill", "Open Sans";
}

ul {
  list-style: none;
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: white;
}

.modal-header, .modal-body h4, .close {
  background-color: black;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
