.container-fluid {
  width: 100%;
  height: 700px;
  background-image: url(../Pictures/dark-fairy-tale-fantasy-42263.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Montserrat, "Hanalei Fill", "Open Sans";
  letter-spacing: 0.5em;
}

h1, h2, p {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
}


.img-responsive {
  width: 425px;
  display: inline-block;
  transform: rotate(90deg);
  margin: 20px auto;
}
