.container-fluid {
  width: 100%;
  height: 700px;
  background-image: url(/Users/tech-a28x/coursework/GameSparta/Pictures/creepy-dirty-eerie-428396.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  border: 1px solid black;
  background-size: 100%;
  font-family: Montserrat, "Hanalei Fill", "Open Sans";
  letter-spacing: 0.6em;
}

h1 {
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  top: 30%;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}


.img {
  background-image: url(../0.png);
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 550px;
}

.playerscore, .highscore, .score, .player1, .player2 {
  color: white;
  font-size: 1.5em;
  margin: auto;
  display: inline-block;
  font-family: Montserrat, "Hanalei Fill", "Open Sans";
}

.playerNames {
  float: center;
}

.player1 {
  float: left;
}
.player2 {
  float: right;
}
